<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :countries %>
    <%= f.collection_select :country_ids, Country.all.order(:name), :id, :to_s, {}, {multiple: true, size: 5} %>
  </div>
  <div class="field">
    <%= f.label :players %>
    <%= f.grouped_collection_select :player_ids, Country.all.order(:name), :players, :to_s, :id, :to_s, {}, {multiple: true, size: 10} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
