<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Countries (<%= @team.countries.count %>):</strong>
</p>
<ul>
<% @team.countries.each do |country| %>
  <li><%= country.name %> (<%= country.calculate_total %> points)</li>
<% end %>
</ul>
<p>
  <strong>Players (<%= @team.players.count %>):</strong>
</p>
<ul>
<% @team.players.each do |player| %>
  <li><%= player.name %></li>
<% end %>
</ul>

<%= link_to 'Home', root_path %>
