<h1><%= @team.name %></h1>
<p>
  <strong>Points:</strong>
  <%= @team.calculate_total %>
</p>
<ul class="team-and-player-list">
<% @team.countries.each do |country| %>
  <li>
    <strong><%= country.name %> (<%= country.calculate_total %> points)</strong>
    <ul>
    <% @team.players.where(country_id: country.id).each do |player| %>
      <li><%= player.name %> (<%= player.calculate_total %> points)</li>
    <% end %>
    </ul>    
  </li>
<% end %>
</ul>


<%= link_to 'Home', root_path %>
