<%= form_for([:admin, @country]) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.collection_select :group_id, Group.all, :id, :to_s %>
  </div>
  <div class="field">
    <%= f.label :handicap %><br>
    <%= f.text_field :handicap %>
  </div>
  <div class="field">
    <%= f.label :group_rank %><br>
    <%= f.text_field :group_rank %>
  </div>
  <div class="field">
    <%= f.label :group_points %><br>
    <%= f.text_field :group_points %>
  </div>
  <div class="field">
    <%= f.label :final_rank %><br>
    <%= f.text_field :final_rank %>
  </div>
  <div class="field">
    <%= f.label :eliminated %><br>
    <%= f.check_box :eliminated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
