<div class="country">
  <h1><%= @country.name %></h1>
  <table>
    <tr>
      <th><strong>Total:</strong></th>
      <td><%= @country.calculate_total %> points</td>
    </tr>
    <% if @country.handicap != 0 %>
    <tr>
      <th><strong>Handicap:</strong></th>
      <td><%= @country.handicap %> points</td>
    </tr>
    <% end %>
    <tr>
      <th><strong>Games Played:</strong></th>
      <td><%= @country.matches_played %> (<%= pluralize(@country.calculate_points_from_matches_played, 'point') %>)</td>
    </tr>
    <tr>
      <th><strong>Wins:</strong></th>
      <td><%= @country.wins %> (<%= pluralize(@country.calculate_points_from_wins, 'point') %>)</td>
    </tr>
    <tr>
      <th><strong>Ties:</strong></th>
      <td><%= @country.ties %> (<%= pluralize(@country.calculate_points_from_ties, 'point') %>)</td>
    </tr>
    <tr>
      <th><strong>Goal Differential:</strong></th>
      <td>
        <%= @country.goal_differential %> (<%= pluralize(@country.calculate_points_from_goal_differential, 'point') %>)
      </td>
    </tr>
    <tr>
      <th><strong>Shutouts:</strong></th>
      <td><%= @country.shutouts %> (<%= pluralize(@country.calculate_points_from_shutouts, 'point') %>)</td>
    </tr>
    <tr>
      <th><strong>Shootout Wins:</strong></th>
      <td><%= @country.shootout_wins %> (<%= pluralize(@country.calculate_points_from_shootout_wins, 'point') %>)</td>
    </tr>
    <% if @country.group.completed? %>
    <tr>
      <th><strong>Group Rank:</strong></th>
      <td><%= @country.group_rank %> (<%= pluralize(@country.calculate_points_from_group_rank, 'point') %>)</td>
    </tr>
    <% end %>
    <% if @country.final_rank %>
    <tr>
      <th><strong>Final Rank:</strong></th>
      <td><%= @country.final_rank %> (<%= pluralize(@country.calculate_points_from_placing, 'point') %>)</td>
    </tr>
    <% end %>
  </table>
  <%= render 'partials/teams', :teams => @country.teams.order(:name) %>
</div>
