<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : t('app.name') %></title>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header id="header" role="banner">
      <h1><%= link_to t('app.name'), root_path %></h1>
      <% if user_signed_in? %>
        <nav id="primary-navigation">        
          <ul>
            <li><%= link_to t('nav.teams'), teams_path %></li>
            <li><%= link_to t('nav.countries'), countries_path %></li>
            <li><%= link_to t('nav.players'), players_path %></li>
            <li><%= link_to t('nav.matches'), matches_path %></li>
            <li><%= link_to t('nav.goals'), goals_path %></li>
          </ul>
        </nav>
      <% end %>
      <ul id="user-actions">
        <% if user_signed_in? %>
          <li><%= link_to t('devise.actions.sign_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('devise.actions.sign_in'), new_user_session_path %></li>
        <% end %>
      </ul>
    </header>
    <div class="main-container">
      <div class="left-column">
        &nbsp;
      </div>        
      <div class="right-column">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>        
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>